main {
	display: flex;
	flex-direction: column;
}

#canvas {
	width: 350px;
	height: 350px;
}

.bottom-row {
	margin-left: 20px;
	display: flex;
	gap: 210px;
	margin-bottom: 20px;
}

#top {
	margin-left: 110px;
	width: 1px;
	display: flex;
	justify-content: center;
}

form {
	width: 200px;
}
